// Playfair Display : 고전적이고 우아한 서체 큰제목에 사용
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,900&display=swap');
// Caveat : 장난스러운 분위기라서 친숙한 이미지가 강함
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Playfair+Display:ital,wght@1,400;1,900&display=swap');

//Comfortaa : 컨텐츠 내용
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@300;400&family=Playfair+Display:ital,wght@1,400;1,900&display=swap');

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  *{
    font-family: 'IBMPlexSansKR-Regular';
    
  }
  .main-containner{
    box-sizing: border-box; 
  }
#home_ic,#ht_ic{
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  #ht_ic{
    background-color: rgba( 255, 255, 255, 0 );
    border:0px solid rgba(255, 255, 255, 0);
    color: black;
  
  }
  #recipes_ic{
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  #earth_ic{
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  #menu_ic{
    height: 30px;
    width: 6px;
    cursor: pointer;
  }
  #game_ic{
    height: 30px;
    width: 40px;
    cursor: pointer;
  }